body{
    background-image: url('/images/back-Banana-Leaf.jpg');
}

//nuevo.html
.newBook{
    width: 400px;
    height: 200px;
    background-color: bisque;
    border: solid 3px white;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: 28px;
    color: rgb(28, 59, 28);
    margin: auto;
}

.btn{
    font-size: 15px;   
}
.btn:hover{
    background-color: lightblue;  
}


//index.html
.tittle{
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 45px;
}


#books{
    display: flex;
    flex-wrap: wrap;
    margin-left: 88px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    background-color: rgba(255, 228, 196, 0.473);
    width: 250px;
    height: 300px; 
    border: 3px solid white;
    margin: 6px;
    text-align: center; 
    padding: 5px;  
    cursor: pointer; 
}
li:hover{
    border: 3px solid  rgb(85, 187, 85);
}


//detalle.html

#thebook{
    text-align: center;
    margin:auto;
    width: 900px;
    height: auto;
    border: 2px solid white;
    background-color: rgba(255, 228, 196, 0.514);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    h1{
        font-family: 'Lobster', cursive;
    }
}